* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.7;
  color: #373737;
}

h2 {
  font-size: 2.5rem;
}

.container {
  width: 70vw;
  margin: auto;
}

.nav {
  padding: 10px;
  background-color: darkslateblue;
}

.nav ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
}

.nav-item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.959);
  padding-left: 30px;
}

.nav-item a:last-child {
  padding-right: 30px;
}

.header {
  background-color: rgb(248, 248, 248);
  height: 70vh;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
}

.heading-text-box {
  border-left: 10px solid darkslateblue;
  padding-left: 5vw;
  padding-right: 5vw;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 7px;
}

.heading-sub {
  color: rgb(187, 187, 187);
}

.work {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.work h2 {
  margin: 20px 0 50px 0;
  font-size: 2.75rem;
}

.card {
  width: 400px;
  border-top: 12px solid darkslateblue;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 12px;
  margin-top: 30px;
  margin-right: 2vw;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.card-image img {
  width: 100%;
}

.card-text {
  padding: 12px 12px 0 12px;
}

.card-text small {
  text-transform: uppercase;
  color: rgb(190, 190, 190);
  letter-spacing: 2px;
  font-size: 16px;
}

.card-title {
  font-size: 1.6rem;
}

.card-description {
  line-height: 1.4;
  padding-top: 15px;
  color: rgb(95, 95, 95);
}

.card-view-project {
  padding-top: 25px;
  text-align: center;
  font-size: 0.9rem;
  color: darkslateblue;
  font-weight: 600;
  text-transform: uppercase;
}

.card-view-project span {
  font-size: 1rem;
  color: #373737;
  font-weight: 500;
}

.card-tech {
  padding-top: 15px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  color: #969696;
}

.footer {
  background: #969696;
  clip-path: polygon(0 8vh, 100% 0, 100% 100%, 0 100%);
  background-color: rgb(240, 240, 240);
}

.footer-box {
  padding-top: 13vh;
}

@media screen and (max-width: 1210px) {
  .card {
    width: 350px;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 1026px) {
  body {
    text-align: center;
  }

  .header {
    height: 55vh;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
  }

  .card {
    width: 70vw;
    padding: 20px;
    margin-bottom: 5vh;
  }

  .nav {
    display: none;
  }

  .heading-text-box {
    width: 70vw;
    top: 35%;
  }

  .heading-primary {
    line-height: 1.3;
    padding-bottom: 5%;
  }

  .heading-sub {
    line-height: 1.3;
  }

  .footer {
  }
}

/* .about {
  padding: 80px;
  width: 80vw;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.about-profile {
  width: 300px;
  text-align: center;
}

.about-profile h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #d1d1d1;
}

.about img {
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.about-skills {
  font-size: 50px;
  width: 300px;
  padding: 15px;
} */
